<app-navbar></app-navbar>
<div class="container px-5 mt-3">
  <div class="mx-5 px-5">
    <div class="border py-4 px-5 mx-5">
      <p class="h3">Reset your password</p>
      <hr>
      <ng-container *ngIf="isSecurityCodeSent;else securityCodeSentValidated">
        <form class="" [formGroup]="fillSecurityCodeForm" (ngSubmit)="submitSecurityCode()">
          <div class="mb-3">
            <label for="new-password" class="form-label">New Password</label>
            <input type="password" class="form-control dark-input" id="new-password" formControlName="newPassword">
          </div>
          <div class="mb-3">
            <label for="again-new-password" class="form-label">Username or Email address</label>
            <input type="text" class="form-control dark-input" id="again-new-password" formControlName="againPassword">
          </div>
          <div class="mb-3">
            <label for="securitycode" class="form-label">Enter the security code sent to <strong>{{this.forgotPasswordForm.get('username')?.value}}</strong></label>
            <input type="text" class="form-control dark-input" id="securityCode" formControlName="securityCode" >
            <div class="form-text text-light my-1">Didn't receive the security code? Please wait for 10 seconds before requesting resend.</div>
          </div>
          <div id="passwordHelp" class="form-text"><a [routerLink]="['/forgot-password']">Resend security code</a></div>
          <hr>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </ng-container>

      <ng-template #securityCodeSentValidated>
        <form class="" [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()">
          <div class="mb-3">
            <label for="forgetPasswordUsername" class="form-label">Username or Email address</label>
            <input type="text" class="form-control dark-input" id="forgetPasswordUsername" formControlName="username">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </ng-template>

    </div>
  </div>
</div>
