<app-navbar></app-navbar>
<div class="container px-5 mt-3">
  <div class="mx-5 px-5">
    <div class="border py-4 px-5 mx-5">
      <p class="h3">Reset your password</p>
      <hr>
      <ng-container *ngIf="isSecurityCodeSent;else securityCodeSentValidated">
        <app-update-password-form [username]=username></app-update-password-form>
      </ng-container>

      <ng-template #securityCodeSentValidated>
        <form class="" [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()">
          <div class="mb-3">
            <label for="forgetPasswordUsername" class="form-label">Username or Email address</label>
            <input type="text" class="form-control dark-input" id="forgetPasswordUsername" formControlName="username">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </ng-template>

    </div>
  </div>
</div>
