<app-navbar></app-navbar>
<div class="container w-50 mt-5 px-5 pt-3 border border-2" [class.d-none]="!isForm2">
  <span class="h4">Verify security code</span>
  <hr>
  <form class="pb-3" [formGroup]="securityCodeForm" (ngSubmit)="submitSecurityCode()" novalidate>
    <div class="mb-3">
      <label for="securitycode" class="form-label">Enter the security code sent to <strong>{{email?.value}}</strong></label>
      <input type="text" class="form-control dark-input" id="securitycode" aria-describedby="securityCodeHelp"
        formControlName="securityCode" [class.is-invalid]="securityCode?.invalid && securityCode?.touched">
      <div id="securityCodeHelp" class="form-text text-danger" [class.d-none]="securityCode?.valid || securityCode?.untouched">
        <ng-container *ngIf="securityCode?.hasError('required');else securityCodeRequiredValidated">
          <span>Security code is required</span>
        </ng-container>
        <ng-template #securityCodeRequiredValidated>
          <ng-container *ngIf="securityCode?.hasError('minlength'); else securityCodeMinLengthValidated">
            <span>Security code too short. It must be exactly six digits long.</span>
          </ng-container>
        </ng-template>
        <ng-template #securityCodeMinLengthValidated>
          <ng-container *ngIf="securityCode?.hasError('maxlength')">
            <span>Security code too long. It must be exactly six digits long.</span>
          </ng-container>
        </ng-template>
      </div>
    </div>
    <div class="form-text text-light my-1">Didn't receive the security code? Please wait for 10 seconds before we resend.</div>
    <hr>
    <button type="submit" class="btn btn-primary mx-1">Submit</button>
  </form>
</div>
<div class="container w-50 mt-5 px-5 pt-3 border border-2" [class.d-none]="isForm2">
    <span class="h2">Register</span>
    <hr>
    <span class="h6">Step {{stepIndex+1}} of {{steps.length}}: {{steps[stepIndex]['name']}}</span>
    <hr>
    <form class="pb-3" [formGroup]="registrationForm" (ngSubmit)="submit()" novalidate>
      <div [ngSwitch]="stepIndex+1">
        <fieldset *ngSwitchCase="1" formGroupName="accountDet">
          <div class="mb-3">
            <label for="username" class="form-label"><i class="bi bi-person"></i> Username</label>
            <input type="text" class="form-control dark-input" id="username" aria-describedby="usernameHelp"
              formControlName="username" [class.is-invalid]="username?.invalid && username?.touched">
            <div id="usernameHelp" class="form-text text-danger" [class.d-none]="username?.valid || username?.untouched">
              <ng-container *ngIf="username?.hasError('required');else usernameRequiredValidated">
                <span>Username is required</span>
              </ng-container>
              <ng-template #usernameRequiredValidated>
                <ng-container *ngIf="username?.hasError('forbiddenName');else notForbiddenName">
                  <span>This is forbidden name</span>
                </ng-container>
              </ng-template>
              <ng-template #notForbiddenName>
                <ng-container *ngIf="username?.hasError('minlength')">
                  <span>Username too short</span>
                </ng-container>
              </ng-template>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email address</label>
            <input type="email" class="form-control dark-input" id="email" aria-describedby="emailHelp"
              formControlName="email" [class.is-invalid]="email?.invalid && email?.touched">
            <div id="emailHelp" class="form-text text-danger" [class.d-none]="email?.valid || email?.untouched">
              <ng-container *ngIf="email?.hasError('required');else emailRequiredValidated">
                <span>Email is required</span>
              </ng-container>
              <ng-template #emailRequiredValidated>
                <ng-container *ngIf="email?.hasError('invalid-regex')">
                  <span>Invalid email</span>
                </ng-container>
              </ng-template>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"><i class="bi bi-key"></i> Set a password</label>
            <input type="password" class="form-control dark-input" id="password" aria-describedby="passwordHelp"
              formControlName="password" [class.is-invalid]="password?.invalid && password?.touched">
            <div id="passwordHelp" class="form-text text-danger" [class.d-none]="password?.valid || password?.untouched">
              <ng-container *ngIf="password?.hasError('required');else passwordRequiredValidated">
                <span>Password is required</span>
              </ng-container>
              <ng-template #passwordRequiredValidated>
                <ng-container *ngIf="password?.hasError('minlength')">
                  <span>Password too short</span>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </fieldset>
  
        <fieldset *ngSwitchCase="2" formGroupName="personalDet">
          <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control dark-input" id="firstname" aria-describedby="firstNameHelp"
              formControlName="firstName" [class.is-invalid]="firstName?.invalid && firstName?.touched">
            <div id="firstNameHelp" class="form-text text-danger" [class.d-none]="firstName?.valid || firstName?.untouched">
              <ng-container *ngIf="firstName?.hasError('required');else firstNameRequiredValidated">
                <span>Name is required</span>
              </ng-container>
              <ng-template #firstNameRequiredValidated>
                <ng-container *ngIf="firstName?.hasError('minlength')">
                  <span>Name too short</span>
                </ng-container>
              </ng-template>
            </div>
          </div>
          <div class="mb-3">
            <label for="middlename" class="form-label">Middle Name</label>
            <input type="email" class="form-control dark-input" id="middlename" formControlName="middleName">
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control dark-input" id="lastname" formControlName="lastName">
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control dark-input" id="phoneNumber" formControlName="phoneNumber">
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <span class="form-text small text-danger mx-3 d-none">Gender is required</span>
            <div class="form-check">
              <input type="radio" id="male" class="form-check-input dark-input is-invalid" value="MALE" aria-describedby="genderHelp"
                formControlName="gender" [class.is-invalid]="gender?.invalid && gender?.touched">
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check">
              <input type="radio" id="female" class="form-check-input dark-input is-invalid" value="FEMALE" aria-describedby="genderHelp"
                formControlName="gender" [class.is-invalid]="gender?.invalid && gender?.touched">
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div id="genderHelp" class="form-text text-danger" [class.d-none]="gender?.valid || gender?.untouched">
              <ng-container *ngIf="gender?.hasError('required')">
                <span>Gender is required</span>
              </ng-container>
            </div>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <select class="form-select dark-input" aria-label="Default select" formControlName="country" aria-describedby="countryHelp"
              (blur)="validateCountry()" (change)="validateCountry()" [class.is-invalid]="country?.invalid && country?.touched">
              <option value = "" disabled>--Select Country--</option>
              <option *ngFor = "let country of countries" [value] = "country">{{country}}</option>
            </select>
            <div id="countryHelp" class="form-text text-danger" [class.d-none]="country?.valid || country?.untouched">
              <ng-container *ngIf="country?.hasError('required')">
                <span>Country is required</span>
              </ng-container>
            </div>
          </div>
          <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Date of Birthday</label>
            <input type="date" class="form-control dark-input" id="dateOfBirth" formControlName="dateOfBirth"
              [class.is-invalid]="dateOfBirth?.invalid && dateOfBirth?.touched">
            <div id="countryHelp" class="form-text text-danger" [class.d-none]="dateOfBirth?.valid || dateOfBirth?.untouched">
              <ng-container *ngIf="dateOfBirth?.hasError('required')">
                <span>Birthday is required</span>
              </ng-container>
            </div>
          </div>
        </fieldset>

      </div>

      <hr>
      <button type="button" class="btn btn-primary mx-1" [class.d-none]="stepIndex==0" (click)="previous()">Previous</button>
      <button type="button" class="btn btn-primary mx-1" [class.d-none]="stepIndex>=steps.length-1"(click)="next()">Next</button>
      <button type="submit" class="btn btn-primary mx-1" [class.d-none]="stepIndex!=steps.length-1">Submit</button>
      <hr>
      <fieldset>
        <div class="mb-3">
          <span>Already a member?</span>&nbsp;
          <span><a [routerLink]="['/login']">Login</a> instead</span>
        </div>
      </fieldset>
    </form>
</div>