<app-navbar></app-navbar>
<div class="container my-2 py-2">
    <!-- <div class="row justify-content-evenly">
        <div class="col-2 text-center"><a class="nav-link" [routerLink]="['/dashboard/home']"> <i class="bi bi-house"></i> Home</a></div>
        <div class="col-2 text-center"><a class="nav-link" [routerLink]="['/dashboard/profile']"><i class="bi bi-person-lines-fill"></i> My Profile</a></div>
        <div class="col-2 text-center"><a class="nav-link" [routerLink]="['/dashboard/security']"><i class="bi bi-shield-lock"></i> Security</a></div>
        <div class="col-2 text-center"><a class="nav-link" [routerLink]="['/dashboard/notifications']"><i class="bi bi-bell"></i> Notification</a></div>
        <div class="col-2 text-center" *ngIf="roleId < 3;"><a class="nav-link" [routerLink]="['/dashboard/admin-console']"><i class="bi bi-person-fill-gear"></i> Admin</a></div>
        <div class="col-2 text-center"><a class="nav-link text-danger" [routerLink]="['/logout']"><i class="bi bi-box-arrow-right"></i> Log out</a></div>
    </div> -->
    <!-- <hr> -->
    <router-outlet></router-outlet>
</div>
