<div class="container my-2">
    <div class="row">
        <div class="col-2"><a [routerLink]="['/dashboard/home']">Home</a></div>
        <div class="col-2"><a [routerLink]="['/dashboard/profile']">My Profile</a></div>
        <div class="col-2"><a [routerLink]="['/dashboard/security']">Security</a></div>
        <div class="col-2"><a [routerLink]="['/dashboard/notifications']">Notification</a></div>
        <div class="col-2" *ngIf="roleId < 3;"><a [routerLink]="['/dashboard/admin-console']">Admin</a></div>
        <div class="col-2"><a (click)="logout()" class="text-danger" style="text-decoration: underline;"><i class="bi bi-person-circle"></i> Log out</a></div>
    </div>
    <hr>
    <p>role id {{roleId}}</p>
    <router-outlet></router-outlet>
</div>
