<form class="" [formGroup]="updatePasswordForm" (ngSubmit)="submitUpdatePassword()">
  <div class="mb-3">
    <label for="new-password" class="form-label">New Password</label>
    <input type="password" class="form-control dark-input" id="new-password" formControlName="newPassword">
  </div>
  <div class="mb-3">
    <label for="again-new-password" class="form-label">Enter again new password</label>
    <input type="text" class="form-control dark-input" id="again-new-password" formControlName="againPassword">
  </div>
  <div class="mb-3">
    <label for="securitycode" class="form-label">Enter the security code sent to <strong>{{username}}</strong></label>
    <input type="text" class="form-control dark-input" id="securityCode" formControlName="securityCode" >
    <div class="form-text text-light my-1">Didn't receive the security code? Please wait for 10 seconds before requesting resend.</div>
  </div>
  <div id="passwordHelp" class="form-text"><a [routerLink]="['/forgot-password']">Resend security code</a></div>
  <hr>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>