<app-navbar></app-navbar>
<div class="container mt-5">
  <h2 class="text-center">User Login System UI</h2>
  <div class="d-flex align-items-center justify-content-center m-3">
    <button class="btn btn-primary my-2 mx-5" (click)="login()">Login</button>
    <button class="btn btn-primary my-2 mx-5" (click)="register()">Register</button>
  </div>
  <div class="my-4 p-5 mx-5">
    <p class="h1 text-center mt-5">" cogito, ergo sum "</p>
    <p class="h3 text-center">( I think therefore I am )</p>
    <p class="h5 text-center">- René Descartes</p>
  </div>
</div>