<app-navbar></app-navbar>
<div class="container my-3">
    <div class="row">
        <h4>Build Info</h4>
    </div>
    <div class="">
        <table>
            <tr>
                <td><span>Version</span></td>
                <td>: <span class="fw-bold">24.2.1.1</span></td>
            </tr>
            <tr>
                <td><span>Last updated</span></td>
                <td>: <span class="fw-bold">Today</span></td>
            </tr>
        </table>
    </div>
    <hr/>
    <div class="row text-center">
        <h4>Contributors</h4>
        <p><span class="badge text-bg-primary">Aman Kumar</span></p>
    </div>
    <hr/>
    <app-tech-stack></app-tech-stack>
</div>
