<app-navbar></app-navbar>
<div class="container w-50 mt-5 px-5 pt-3 border border-2">
    <span class="h2">Login</span>
    <hr>
    <form class="py-3" [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><i class="bi bi-person"></i> Username or email address</label>
          <input type="email" class="form-control dark-input" id="exampleInputEmail1" formControlName="username">
        </div>
        <div class="mb-4">
          <label for="exampleInputPassword1" class="form-label"><i class="bi bi-key"></i> Password</label>
          <input type="password" class="form-control dark-input" id="exampleInputPassword1" aria-describedby="passwordHelp" formControlName="password">
          <div id="passwordHelp" class="form-text"><a [routerLink]="['/register']">Forgot password?</a></div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary" [disabled]="disableSubmitBtn">
          <span class="spinner-border spinner-border-sm" [class.d-none]="!disableSubmitBtn" aria-hidden="true"></span>
          <span role="status">&nbsp;Submit<span [class.d-none]="!disableSubmitBtn">ting...</span></span>
        </button>
        <hr>
        <div class="mb-3">
          <span>Not a member?</span>&nbsp;
          <span><a [routerLink]="['/register']">Register</a> instead</span>
        </div>
      </form>
</div>
<!-- Button trigger modal -->
<button #launch_modal type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content dark-my-modal">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalTitleText}}</h1>
        <button type="button" class="btn-close dark-modal-cross-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">{{modalBodyText}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>