<app-navbar></app-navbar>
<div class="container my-2 py-2">
    <div class="row align-items-center">
        <div class="col-3 text-center">
            <img #profilePic class="img-fluid profile-pic my-2" [style.border-color]="border_color" [src]="profilePicSrc" alt="profile-pic">
            <input #fileInputTag type="file" class="file-input d-none" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)">
            <a class=" nav-link my-1 profile-upload-link" (click)="openFileChooser()"> <i class="bi bi-upload"></i> Update Profile Pic</a>
        </div>
        <div class="col-5 fs-6">
            <div class="row">
                <div class="col">
                    <p class=""><i class="bi bi-person"></i>: {{getName()}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class=""><i class="bi bi-envelope"></i>: {{getEmail()}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="">@: {{getUserName()}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="badge" [ngClass]="badge_class">{{getRoleName()}}</span>
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="updatePassword()">Update Password</button>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button #profilePicPreviewModalLaunchButton type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#profilePicPreviewModal">Launch</button>
    <!-- Modal -->
      <div class="modal fade" id="profilePicPreviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content dark-my-modal">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Preview profile pic</h1>
              <button type="button" class="btn-close dark-modal-cross-btn" data-bs-dismiss="modal" aria-label="Close" [disabled]="disableSubmitBtn"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-9 text-center">
                            <image-cropper #uploadedImage class=""
                                [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true"
                                [aspectRatio]="1 / 1"
                                format="png"
                                (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded($event)"
                                (cropperReady)="cropperReady()"
                                (loadImageFailed)="loadImageFailed()"
                            ></image-cropper>
                            <!-- <img #uploadedImage crossorigin class="img-fluid" [src]="uploadedImgSrc" alt="no image"> -->
                        </div>
                        <div class="col-3 row flex-column justify-content-center">
                            <div class="col text-center">
                                <img class="img-fluid profile-pic" [src]="croppedImage" />
                                <!-- <img class="img-fluid profile-pic" [src]="uploadedImgSrc" alt="no image"> -->
                            </div>
                            <div class="col text-center pt-5">
                                <button class="btn btn-outline-primary m-3"><i class="bi bi-arrow-clockwise"></i></button>
                                <button class="btn btn-outline-primary m-3"><i class="bi bi-arrow-repeat"></i></button>
                                <button class="btn btn-outline-primary m-3"><i class="bi bi-arrow-counterclockwise"></i></button>
                            </div>
                            <div class="col text-center mt-2">
                                <span>{{fileName}}</span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
              <button #profilePicPreviewModalCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="disableSubmitBtn">Close</button>
              <button type="button" class="btn btn-primary" (click)="uploadProfilePic()" [disabled]="disableSubmitBtn">
                <span class="spinner-border spinner-border-sm" [class.d-none]="!disableSubmitBtn" aria-hidden="true"></span>
                <span>&nbsp;Submit<span [class.d-none]="!disableSubmitBtn">ting...</span></span>
              </button>
              </div>
          </div>
        </div>
      </div>
      <hr>
    <div class="w-75 mx-auto my-3">
        <app-profile-personal-details [personalDetails]="user.personalDetails"></app-profile-personal-details>
        <hr />
        <app-profile-security-details [securityDetails]="user.securityDetails"></app-profile-security-details>
    </div>
</div>
