<app-navbar></app-navbar>
<div class="container px-5 mt-3">
  <div class="mx-5 px-5">
    <div class="border rounded-3 py-4 px-5 mx-5">
      <p class="h3">Reset your password</p>
      <hr>
      <ng-container *ngIf="isSecurityCodeSent;else securityCodeSentValidated">
        <app-update-password-form [username]="email"></app-update-password-form>
      </ng-container>

      <ng-template #securityCodeSentValidated>
       <div>
        <p>We need to send a security code to your registered E-mail Id 
            <span class="fw-bold text-warning">{{email}}</span>
            Click the below button when you are ready to receive the mail.</p>
        <button type="button" class="btn btn-primary mx-1" 
            [disabled]="isRequestInProgress" (click)="sendSecurityCode()">
            <ng-container *ngIf="isRequestInProgress else elseBlock">
              <span role="status">Sending security code...</span>
              <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            </ng-container>
            <ng-template #elseBlock>
                Send security code
            </ng-template>
          </button>
       </div>
      </ng-template>

    </div>
  </div>
</div>
